<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <TM_FireCheckout>
            <version>2.6.0</version>
        </TM_FireCheckout>
    </modules>

    <global>
        <resources>
            <tm_firecheckout_setup>
                <setup>
                    <module>TM_FireCheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tm_firecheckout_setup>
        </resources>
        <models>
            <firecheckout>
                <class>TM_FireCheckout_Model</class>
            </firecheckout>
            <sales>
                <rewrite><!-- Backend validator fix -->
                    <service_quote>TM_FireCheckout_Model_Service_Quote</service_quote>
                    <quote_address>TM_FireCheckout_Model_Quote_Address</quote_address> <!-- Fix for paypal express. Call for validate method overriden -->
                </rewrite>
            </sales>
        </models>
        <blocks>
            <checkout>
                <rewrite>
                    <links>TM_FireCheckout_Block_Links</links>
                    <cart_sidebar>TM_FireCheckout_Block_Cart_Sidebar</cart_sidebar>
                </rewrite>
            </checkout>
            <sagepaysuite>
                <rewrite>
                    <checkout_serverfail>TM_FireCheckout_Block_SagePaySuite_Checkout_Serverfail</checkout_serverfail>
                </rewrite>
            </sagepaysuite>
            <paypal>
                <rewrite>
                    <iframe>TM_FireCheckout_Block_Paypal_Iframe</iframe>
                    <payflow_link_iframe>TM_FireCheckout_Block_Paypal_Payflow_Link_Iframe</payflow_link_iframe>
                    <payflow_advanced_iframe>TM_FireCheckout_Block_Paypal_Payflow_Advanced_Iframe</payflow_advanced_iframe>
                    <hosted_pro_iframe>TM_FireCheckout_Block_Paypal_Hosted_Pro_Iframe</hosted_pro_iframe>
                </rewrite>
            </paypal>
            <firecheckout>
                <class>TM_FireCheckout_Block</class>
            </firecheckout>
        </blocks>
        <helpers>
            <checkout>
                <rewrite>
                    <url>TM_FireCheckout_Helper_Url</url>
                </rewrite>
            </checkout>
            <authorizenet>
                <rewrite>
                    <data>TM_FireCheckout_Helper_Authorizenet</data>
                </rewrite>
            </authorizenet>
            <firecheckout>
                <class>TM_FireCheckout_Helper</class>
            </firecheckout>
            <buyerprotect>
                <rewrite>
                    <data>TM_FireCheckout_Helper_Buyerprotect</data>
                </rewrite>
            </buyerprotect>
        </helpers>
        <fieldsets>
            <sales_convert_quote>
                <firecheckout_delivery_date><to_order>*</to_order></firecheckout_delivery_date>
                <firecheckout_delivery_timerange><to_order>*</to_order></firecheckout_delivery_timerange>
                <firecheckout_customer_comment><to_order>*</to_order></firecheckout_customer_comment>
            </sales_convert_quote>
            <sales_copy_order>
                <firecheckout_delivery_date><to_edit>*</to_edit></firecheckout_delivery_date>
                <firecheckout_delivery_timerange><to_edit>*</to_edit></firecheckout_delivery_timerange>
                <firecheckout_customer_comment><to_edit>*</to_edit></firecheckout_customer_comment>
            </sales_copy_order>
        </fieldsets>
        <events>
            <core_layout_update_updates_get_after>
                <observers>
                    <firecheckout>
                        <class>firecheckout/observer</class>
                        <method>addThirdPartyModulesLayoutUpdate</method>
                    </firecheckout>
                </observers>
            </core_layout_update_updates_get_after>
        </events>
    </global>

    <frontend>
        <secure_url>
            <firecheckout_index>/firecheckout</firecheckout_index>
        </secure_url>
        <routers>
            <firecheckout>
                <use>standard</use>
                <args>
                    <module>TM_FireCheckout</module>
                    <frontName>firecheckout</frontName>
                </args>
            </firecheckout>
        </routers>
        <translate>
            <modules>
                <TM_FireCheckout>
                     <files>
                          <default>TM_FireCheckout.csv</default>
                     </files>
                </TM_FireCheckout>
            </modules>
        </translate>
        <layout>
             <updates>
                  <firecheckout>
                        <file>tm/firecheckout.xml</file>
                  </firecheckout>
             </updates>
        </layout>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <firecheckout>
                        <type>model</type>
                        <class>firecheckout/observer</class>
                        <method>addToCartComplete</method>
                    </firecheckout>
                </observers>
            </checkout_cart_add_product_complete>

<!--             Authorize.Net -->
            <controller_action_postdispatch_firecheckout_index_saveOrder>
                <observers>
                    <directpost_save_order_onepage>
                        <class>firecheckout/observer</class>
                        <method>addAdditionalFieldsToResponseFrontend</method>
                    </directpost_save_order_onepage>
                </observers>
            </controller_action_postdispatch_firecheckout_index_saveOrder>

<!--             buyerprotect -->
            <controller_action_predispatch_firecheckout_index_buyerprotect>
                <observers>
                    <buyerprotect>
                        <type>singleton</type>
                        <class>Symmetrics_Buyerprotect_Model_Observer</class>
                        <method>addProductToCart</method>
                    </buyerprotect>
                </observers>
            </controller_action_predispatch_firecheckout_index_buyerprotect>

<!--             Magento captcha fix -->
            <controller_action_predispatch_firecheckout_index_login>
                <observers>
                    <captcha>
                        <class>firecheckout/observer</class>
                        <method>checkUserLogin</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_firecheckout_index_login>
            <controller_action_predispatch_firecheckout_index_forgotpassword>
                <observers>
                    <captcha>
                        <class>firecheckout/observer</class>
                        <method>checkForgotpassword</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_firecheckout_index_forgotpassword>
            <controller_action_predispatch_firecheckout_index_saveOrder>
                <observers>
                    <firecheckout_set_method>
                        <class>firecheckout/observer</class>
                        <method>setCheckoutMethod</method>
                    </firecheckout_set_method>
                    <captcha_guest>
                        <class>firecheckout/observer</class>
                        <method>checkGuestCheckout</method>
                    </captcha_guest>
                    <captcha_register>
                        <class>firecheckout/observer</class>
                        <method>checkRegisterCheckout</method>
                    </captcha_register>
                    <firecheckout_validate_address>
                        <class>firecheckout/observer</class>
                        <method>validateAddressInformation</method>
                    </firecheckout_validate_address>
                </observers>
            </controller_action_predispatch_firecheckout_index_saveOrder>
        </events>
    </frontend>

    <adminhtml>
        <layout>
             <updates>
                  <firecheckout>
                        <file>tm/firecheckout.xml</file>
                  </firecheckout>
             </updates>
        </layout>
        <translate>
            <modules>
                <TM_FireCheckout>
                    <files>
                        <default>TM_FireCheckout.csv</default>
                    </files>
                </TM_FireCheckout>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <firecheckout translate="title" module="firecheckout">
                                            <title>Fire Checkout Section</title>
                                        </firecheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <firecheckout_additional_fields>
                        <class>firecheckout/observer</class>
                        <method>adminhtmlAddAdditionalFields</method>
                    </firecheckout_additional_fields>
                </observers>
            </adminhtml_sales_order_create_process_data>
        </events>
    </adminhtml>

    <default>
        <firecheckout>
            <general>
                <enabled>0</enabled>
                <title>Fire Checkout</title>
                <layout>col2-set</layout>
                <registration_mode>optional</registration_mode>
                <redirect_to_checkout>0</redirect_to_checkout>
                <shipping_method>flatrate_flatrate</shipping_method>
                <country>US</country>
                <hide_shipping_if_free>0</hide_shipping_if_free>
                <shipping_address>1</shipping_address>
                <shipping_address_checkbox_state>1</shipping_address_checkbox_state>
                <payment_method>paypal_express</payment_method>
                <paypalexpress_register>1</paypalexpress_register>
                <newsletter_checkbox>1</newsletter_checkbox>
                <newsletter_checkbox_state>0</newsletter_checkbox_state>
                <comment>0</comment>
                <discount>0</discount>
                <giftcard>0</giftcard> <!-- Magento Pro -->
                <order_review>0</order_review>
            </general>
            <additional_content>
                <top>0</top>
                <bottom>0</bottom>
                <reviewtable_after>0</reviewtable_after>
            </additional_content>
            <geo_ip>
                <country>0</country>
                <country_file>GeoIP.dat</country_file>
                <city>0</city>
                <city_file>GeoLiteCity.dat</city_file>
            </geo_ip>
            <address_form_status>
                <company>optional</company>
                <street1>required</street1>
                <postcode>required</postcode>
                <city>required</city>
                <country_id>required</country_id>
                <region>optional</region>
                <telephone>required</telephone>
                <fax>optional</fax>
            </address_form_status>
            <address_form_order>
                <name>10</name>
                <email>20</email>
                <company>30</company>
                <street1>40</street1>
                <vat_id>45</vat_id>
                <postcode>50</postcode>
                <city>51</city>
                <country_id>60</country_id>
                <region>61</region>
                <telephone>70</telephone>
                <fax>71</fax>
                <dob>80</dob>
                <gender>81</gender>
                <taxvat>90</taxvat>
            </address_form_order>
            <address_verification>
                <enabled>0</enabled>
            </address_verification>
            <ajax_save>
                <billing><![CDATA[]]></billing>
                <shipping><![CDATA[shipping:country_id,shipping:postcode,shipping:region_id]]></shipping>
            </ajax_save>
            <ajax_reload>
                <payment-method><![CDATA[]]></payment-method>
                <shipping-method><![CDATA[shipping,cart]]></shipping-method>
                <review><![CDATA[shipping-method]]></review>
            </ajax_reload>
            <agreements>
                <output>minimal</output>
                <agree_text>I Agree</agree_text>
            </agreements>
            <mobile>
                <enabled>1</enabled>
            </mobile>
            <taxvat>
                <validate>1</validate>
                <vies>0</vies>
                <field_names>taxvat</field_names>
            </taxvat>
            <delivery_date>
                <enabled>0</enabled>
                <filter_per_shipping_method>0</filter_per_shipping_method>
                <shipping_methods></shipping_methods>
                <use_calendar>1</use_calendar>
                <date_offset>0</date_offset>
                <delivery_processing_end_time>23,59,59</delivery_processing_end_time>
                <date_period>365</date_period>
                <exclude_weekend>0</exclude_weekend>
                <excluded_dates></excluded_dates>
                <use_time_range>0</use_time_range>
                <time_range></time_range>
            </delivery_date>
            <shopping_cart>
                <editable>1</editable>
                <image>0</image>
                <image_width>75</image_width>
                <image_height>75</image_height>
                <name_as_link>0</name_as_link>
                <short_description>0</short_description>
                <short_description_length>200</short_description_length>
            </shopping_cart>
        </firecheckout>
    </default>
</config>
