<?xml version="1.0"?>
<config>
    <tabs>
        <iwdall>
            <label>IWD Extensions</label>
            <sort_order>210</sort_order>
            <class>iwd-block</class>
        </iwdall>
    </tabs>
    <sections>
        <iwd_productvideo translate="label" module="iwd_productvideo">
            <label>Product Video</label>
            <tab>iwdall</tab>
            <frontend_type>text</frontend_type>
            <sort_order>30</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general>
                    <label>General</label>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <version>
                            <label>Version</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_model>iwd_productvideo/system_config_form_fieldset_extensions</frontend_model>
                        </version>
                        <user_guide>
                            <label>Documentations</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_model>iwd_productvideo/system_config_form_fieldset_documentations</frontend_model>
                        </user_guide>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Enabled / disabled extension]]></comment>
                        </enabled>
                    </fields>
                </general>
                <video translate="label">
                    <label>Video</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <in_popup translate="label">
                            <label>Show video in popup</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[YES - show video in popup<br>NO - show in image block]]></comment>
                        </in_popup>
                        <local_player translate="label">
                            <label>HTML5 video player</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[For Youtube and Vimeo video:<br>YES - use HTML5 video player (if it's possible)<br>NO - always use embed video code]]></comment>
                        </local_player>
                        <autoplay>
                            <label>Auto play video after load</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[YES - auto play video after load<br>NO - play video after click button play]]></comment>
                        </autoplay>
                    </fields>
                </video>
                <zoom translate="label">
                    <label>Zoom</label>
                    <sort_order>300</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Enable/disable zoom]]></comment>
                        </enabled>
                        <width>
                            <label>Image Width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment><![CDATA[Image width (in pixels)]]></comment>
                        </width>
                        <height>
                            <label>Image Height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment><![CDATA[Image height (in pixels)]]></comment>
                        </height>
                        <width_zoom>
                            <label>Zoom Wrapper Width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment><![CDATA[The width of the zoom box (in pixels)]]></comment>
                        </width_zoom>
                        <height_zoom>
                            <label>Zoom Wrapper Height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment><![CDATA[The height of the zoom box (in pixels)]]></comment>
                        </height_zoom>
                        <ratio>
                            <label>Zoom Ratio</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </ratio>
                        <position>
                            <label>Zoom Box Position</label>
                            <frontend_type>select</frontend_type>
                            <source_model>iwd_productvideo/system_config_position</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </position>
                    </fields>
                </zoom>
                <slider translate="label">
                    <label>Slider</label>
                    <sort_order>400</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Enable/disable slider]]></comment>
                        </enabled>
                        <sort_order translate="label">
                            <label>Sort</label>
                            <frontend_type>select</frontend_type>
                            <source_model>iwd_productvideo/system_config_sort</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Sort order media in slider]]></comment>
                        </sort_order>
                        <position translate="label">
                            <label>Position</label>
                            <frontend_type>select</frontend_type>
                            <source_model>iwd_productvideo/system_config_position</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Position relative to the product image]]></comment>
                        </position>
                        <width>
                            <label>Image Width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment><![CDATA[Image width (in pixels)]]></comment>
                        </width>
                        <height>
                            <label>Image Height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment><![CDATA[Image height (in pixels)]]></comment>
                        </height>
                        <title translate="label">
                            <label>Block title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Block title on frontend. Can be empty.]]></comment>
                        </title>
                    </fields>
                </slider>
            </groups>
        </iwd_productvideo>
    </sections>
</config>
