#upload_info {vertical-align:middle; cursor:pointer;}
.error_input {border: 1px dotted red !important;}

.video-semblance-edit {border: 2px solid gray;}
.video-current {border-color:green;}
.video-enabled {opacity:0.5; border-style:dotted;}
.video-launcher {display:inline-block; position:relative; width:75px; height:55px; margin-right:5px; cursor:move;}
.video-launcher img {width:73px; height:55px;}
.play-button {cursor:pointer; height:25px; width:25px; background:url("img/play-pause.png") 0 0 no-repeat;
    position:absolute; z-index:2; bottom:0; right:0;}
.video-launcher .play-button:hover {background-position:-25px 0;}


/** VIDEO **/
#iwd_product_media_box {position:relative;}

#iwd_product_video_box {display:none;}
.iwd-product-video-wrapper {width:100%; height:100%; border:1px solid #DADDDD;}

#iwd_media_pre_loader {background-color:#FFFFFF; opacity:0.4; display:none; width:100%; height:100%; position:absolute; z-index:10;}
.ajax-loader-gif {display:block; background:url("img/ajax-load-video.gif") no-repeat; width:66px; height:66px; position:absolute; top:45%; left:45%;}

#iwd_product_video_popup_overlay {display:none; position:fixed; left:0; top:0; width:100%; height:100%;  background:rgba(0,0,0,.7); text-align:center; z-index:999999;}
#iwd_product_video_popup_overlay:after { display:inline-block; height:100%; width:0; vertical-align:middle; content: ''}
#video_popup_close {display:block; position:absolute; top:-20px; right:10px; width:12px;  height:12px; padding:8px; border:5px solid #fff;  border-radius:50%; -webkit-box-shadow:inset 0 2px 2px 2px rgba(0,0,0,.4), 0 3px 3px rgba(0,0,0,.4); box-shadow:inset 0 2px 2px 2px rgba(0,0,0,.4), 0 3px 3px rgba(0,0,0,.4); cursor:pointer;  background:#fff;   text-align:center;  font-size:12px; line-height:12px; color:#444; text-decoration:none; font-weight:bold}
#video_popup_close:hover {background: #ddd}
#iwd_product_video_popup_overlay .video_popup {width:90%; height:80%; display:inline-block; position:relative; max-width:80%; padding:20px; border:5px solid #fff; border-radius:15px; box-shadow:inset 0 2px 2px 2px rgba(0,0,0,.4); background:#fff; vertical-align:middle}
#iwd_product_video_popup_overlay .video_popup h4 {margin:2px 0; width:100%;}
#iwd_product_video_popup_overlay .video-player {height:90%; width:100%;}
#iwd_product_video_popup_overlay .video_popup p {margin:2px 0; width:100%; }
.video-wrapper {overflow:hidden; height:100%; width:100%;}
